
<div id='lol' style='width:1000px; height:500px; visibility:visible;'>
  <div id='plasmid_viewer_container' style='width:50%; height:100%; float:left'>
    <object width="100%" height="100%" type="application/x-shockwave-flash" data="/flash/PlasmidViewerBiofab.swf" id="plasmid_viewer" style="visibility: inherit;">
      <param name='allowfullscreen' value='true'>
      <param name='allowscriptaccess' value='always'>
    </object>
  </div>

  <div id='sequence_viewer_container' style='width:50%; height:100%; float:left'>
    <object width="100%" height="100%" type="application/x-shockwave-flash" data="/flash/SequenceViewerBiofab.swf" id="sequence_viewer" style="visibility: inherit;">
      <param name='allowfullscreen' value='true'>
      <param name='allowscriptaccess' value='always'>
    </object>
  </div>
</div>
