



<div id='container'>
  <div id='top'>
		<div class="dynamic_slider" id='dynamic_slider'></div>
  </div>

  <div id='right'>
    <div id='right_content'>
      right
    </div>
  </div>

  <div id='left'>
    <div id='left_content'>
      
    </div>
  </div>  

</div>


<!--
<div id='container'>
	<div class="fixed">
		<div class="inner_fixed">
			<div class='header'>

			</div>
			<div class="cpanel">
				<div class="bar">
					<div class="label">Constraints</div>
					<div class="menu">Add New</div>
				</div>
				<div class="container">
					<div class="constraint c1">
						<div class="label">Works with:</div>
						<div class="miniwidget hole">
						</div>
					</div>
					<div class="constraint c1">
						<div class="label">Works with:</div>
						<div class="miniwidget hole">
						</div>
					</div>
					<div class="constraint c2">
						<div class="label">Custom sequence</div>
						<form>
							<input type="text" name="firstname" /><br />
							<input type="radio" name="sex" value="male" />Must contain<br />
							<input type="radio" name="sex" value="female" />Must not contain
						</form>
					</div>
					
				</div>
				<div class="spacer"></div>
			</div>
			<div class="cart">
				<div class="label">Save for later</div>
				<div class="miniwidget">
					<div class='label'>AK34-56B</div>
					<div class="performance">
						<div class='bar'>
							<div class='overall'>
								<div class='sd'></div>
								<div class='pointer'></div>
							</div>
							<div class='promoter'>
								<div class='pointer'></div>
							</div>
							<div class='5utr'>
								<div class='pointer'></div>
							</div>
						</div>
					</div>
					<div class='reliability'>
						<div class='ruler'>
							<div class='tic'>
								<div class='dot'></div>
							</div>
							
							<div class='tic'>
								<div class='dot'></div>
							</div>
							
							<div class='tic'>
								<div class='dot'></div>
							</div>
							
							<div class='tic'>
								<div class='dot'></div>
							</div>
							
							<div class='tic'>
								<div class='dot'></div>
							</div>
							
							<div class='tic'>
								<div class='dot'></div>
							</div>
							
							<div class='tic'>
								<div class='dot'></div>
							</div>
							
							<div class='tic'>
								<div class='dot'></div>
							</div>
							
							<div class='tic'>
								<div class='dot'></div>
							</div>
							
							<div class='tic'>
								<div class='dot'></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="list">
		
		<div class='list_widget closed'>
			<div class='eou'>
				<div class='label'>EOU Identifier: DF34-56B</div>
			</div>
			<div class='performance'>
				<div class='label'>Performance</div>
				<div class='bar'>
					<div class='overall'>
						<div class='sd'></div>
						<div class='pointer'></div>
					</div>
					<div class='promoter'>
						<div class='pointer'></div>
					</div>
					<div class='5utr'>
						<div class='pointer'></div>
					</div>
				</div>
				<div class='ruler'>
					<div class='tic'>
					  <div class='label first'>0%</div>
					</div>
					
					<div class='tic'>
					  <div class='label'>10%</div>
					</div>
					
					<div class='tic'>
					  <div class='label'>20%</div>
					</div>
					
					<div class='tic'>
					  <div class='label'>30%</div>
					</div>
					
					<div class='tic'>
					  <div class='label'>40%</div>
					</div>
					
					<div class='tic'>
					  <div class='label'>50%</div>
					</div>
					
					<div class='tic'>
					  <div class='label'>60%</div>
					</div>
					
					<div class='tic'>
					  <div class='label'>70%</div>
					</div>
					
					<div class='tic'>
					  <div class='label'>80%</div>
					</div>
					
					<div class='tic'>
					  <div class='label'>90%</div>
					</div>
					
					<div class='tic'>
					  <div class='label last'>100%</div>
					</div>
				</div>
			</div>
			<div class='reliability'>
				<div class='label'>Reliability</div>
				<div class='ruler'>
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
				</div>
			</div>
		</div>
		
		<div class='list_widget open'>
			<div class='eou'>
				<div class='label'>EOU Identifier: DF34-56B</div>
			</div>
			<div class='performance'>
				<div class='label'>Performance</div>
				<div class='bar'>
					<div class='overall'>
						<div class='sd'></div>
						<div class='pointer'></div>
					</div>
					<div class='promoter'>
						<div class='pointer'></div>
					</div>
					<div class='5utr'>
						<div class='pointer'></div>
					</div>
				</div>
				<div class='ruler'>
					<div class='tic'>
						<div class='label first'>0%</div>
					</div>
					
					<div class='tic'>
						<div class='label'>10%</div>
					</div>
					
					<div class='tic'>
						<div class='label'>20%</div>
					</div>
					
					<div class='tic'>
						<div class='label'>30%</div>
					</div>
					
					<div class='tic'>
						<div class='label'>40%</div>
					</div>
					
					<div class='tic'>
						<div class='label'>50%</div>
					</div>
					
					<div class='tic'>
						<div class='label'>60%</div>
					</div>
					
					<div class='tic'>
						<div class='label'>70%</div>
					</div>
					
					<div class='tic'>
						<div class='label'>80%</div>
					</div>
					
					<div class='tic'>
						<div class='label'>90%</div>
					</div>
					
					<div class='tic'>
						<div class='label last'>100%</div>
					</div>
				</div>	
			</div>
			<div class='reliability'>
				<div class='label'>Reliability</div>
				<div class='ruler'>
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
					
					<div class='tic'>
						<div class='dot'></div>
					</div>
				</div>
			</div>
			
			<div class='diagram promoter'>
				<div class="label">promoter</div>
				<div class='line'>
					<div class='container_b'>
						<div class='seq'>
							<div class='box'>
								<div class='label'>ATGCAT</div>
							</div>
						</div>
						<div class='paren'>
							<div class='label'>10</div>
						</div>
						<div class='seq'>
							<div class='box'>
								<div class='label'>ATGCAT</div>
							</div>
						</div>
						<div class='paren'>
							<div class='label'>35</div>
						</div>
						<div class='tss'>
							<div class='box'>
								<div class='label'>TSS</div>
							</div>
						</div>
					</div>
				</div>		
			</div>
			
			<div class='diagram 5utr'>
				<div class="label">5'utr</div>
				<div class='line'>
					<div class='container_b'>
						<div class='seq'>
							<div class='box'>
								<div class='label'>ATGCAT</div>
							</div>
						</div>
						<div class='paren'>
							<div class='label'>10</div>
						</div>
						<div class='seq'>
							<div class='box'>
								<div class='label'>ATGCAT</div>
							</div>
						</div>
						<div class='paren'>
							<div class='label'>35</div>
						</div>
						<div class='tss'>
							<div class='box'>
								<div class='label'>TSS</div>
							</div>
						</div>
					</div>
				</div>		
			</div>
			
		</div>
		
	</div>
</div>
-->
