[submodule "r_scripts/fcs-analysis"]
	path = r_scripts/fcs-analysis
	url = git://github.com/BIOFAB/fcs-analysis.git
[submodule "java/libSBOLxml"]
	path = java/libSBOLxml
	url = git://github.com/SynBioDex/libSBOLxml.git
