.list_widget
	.top	
		.list_widget_label EOU Identifier: DF34-56B
		.reliability
			.reliability_label Reliability
			.dotgauge
				.step
					.dot
				.step
					.dot
				.step
					.dot
				.step
					.dot
				.step
					.dot
				.step
					.dot
				.step
					.dot
				.step
					.dot
				.step
					.dot
				.step
					.dot
	.performance
		.bar
			.bar_label Performance
			.overall
				.gauge_sd
				.gauge_pointer
			.promoter
				.gauge_sd
				.gauge_pointer
			.utr
				.gauge_sd
				.gauge_pointer
		.ruler
			.tic.first
				.tic_label 0%
			.tic
				.tic_label 10%
			.tic
				.tic_label 20%
			.tic
				.tic_label 30%
			.tic
				.tic_label 40%
			.tic
				.tic_label 50%
			.tic
				.tic_label 60%
			.tic
				.tic_label 70%
			.tic
				.tic_label 80%
			.tic
				.tic_label 90%
			.tic.last
				.tic_label 100%
	= partial "diagram.haml"
	= partial "diagram.haml"
