
<ol class='show'>
  <li>
    <div class='key'>Name</div>
    <div class='value'><%= @performance_type.name %></div>
  </li>
</ol>

<%= link_to 'Edit', edit_performance_type_path(@performance_type) %> |
<%= link_to 'Back', performance_types_path %>
