
<div id='container'>
  <div class='column1'>
    <h3>Bi-cistronic 5' UTR library</h3>

    <div id='bcd_histogram' class='hist bcd_histogram'></div>

    <div class='dia bcd_diagram'>
      <%= 
        render(:partial => '/parts/diagram_simple', 
                 :locals => {
                   :classes => 'nolabel', 
                   :label => nil, 
                   :performance => 0,
                   :annotations => @bcd_annotations})

      %>
    </div>

    <div id='bcd_goi_histogram' class='goi_hist goi_histogram_container'></div>

  </div>

  <div class='column2'>

    <h3>Mono-cistronic 5' UTR library</h3>

    <div id='mcd_histogram' class='hist mcd_histogram'></div>

    <div class='dia mcd_diagram'>
      <%= 
        render(:partial => '/parts/diagram_simple', 
                 :locals => {
                   :classes => 'nolabel', 
                   :label => nil, 
                   :performance => 0,
                   :annotations => @mcd_annotations})
      %>
    </div>

    <div id='mcd_goi_histogram' class='goi_hist goi_histogram_container'></div>

  </div>
</div>



