
<ol class='show'>
  <li>
    <div class='key'>Name</div>
    <div class='value'><%= @annotation_type.name %></div>
  </li>
</ol>


<%= link_to 'Edit', edit_annotation_type_path(@annotation_type) %> |
<%= link_to 'Back', annotation_types_path %>
