
<ol class='show'>
  <li>
    <div class='key'>Name</div>
    <div class='value'><%= @measurement_type.name %></div>
  </li>
</ol>

<%= link_to 'Edit', edit_measurement_type_path(@measurement_type) %> |
<%= link_to 'Back', measurement_types_path %>
