<table cellspacing='0' class='sortable'>
  <thead>
    <tr>
      <th>Promoter ID</th>
      <th>Promoter performance</th>
      <th>Promoter sequence</th>
    </tr>
  </thead>
  <tbody>
  <% @promoters.each do |promoter| %>

    <tr>

      <td><%= promoter.biofab_id.gsub(/\.0$/, '') %></td>

      <td><%= promoter.part_performance.performance.round(2) %></td>
      <td><%= promoter.sequence %></td>

    </tr>

  <% end %>
  </tbody>
</table>
