
<ol class='show'>
  <li>
    <div class='key'>Name</div>
    <div class='value'><%= @characterization_type.name %></div>
  </li>
</ol>


<%= link_to 'Edit', edit_characterization_type_path(@characterization_type) %> |
<%= link_to 'Back', characterization_types_path %>
