working_directory "/var/rails/biofab-web"
pid "/var/rails/biofab-web/tmp/pids/unicorn.pid"
stderr_path "/var/rails/biofab-web/unicorn.log"
stdout_path "/var/rails/biofab-web/unicorn.log"

listen "/var/rails/biofab-web/tmp/unicorn.sock"
worker_processes 2
timout 30
