
/*
         *= require_self 
         *= require part_diagram
         *= require eou_widget
         *= require Histogram
         *= require Overlay
*/  

html, body {
    margin-left: 20px;
    margin-top: 10px;
    padding: 0;
    font-family: sans-serif;
}

h3 {
   font-size: 18px;
   font-weight: bold;
   margin-top: 0;
   padding-top: 0;
   text-align: center;
}

.vs {
    position: absolute;
    top: 0;
    left: 450px;
}

#container {
  position: relative;
  
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.histogram {
  border-bottom: 1px solid black;
}

.hist {
  position: relative;
  width: 400px;
  height: 160px;
  margin-bottom: 50px;
  padding-left: 15px;
  margin-left: 15px;
}

.dia {
  position: relative;
  width: 100%;
  text-align: center;
  .diagram {
    display: inline-block;
  }

}

.column1 {
  position: relative;
  width: 450px;
  float: left;
  .bcd_histogram {

  }

  .goi_histogram_container {

  }
}

.column2 {
  position: relative;
  width: 450px;
  float: left;


  .mcd_histogram {

  }

  .goi_histogram_container {

  }
}

.goi_hist {
  position: relative;
  width: 400px;
  height: 160px;
  margin-top: 20px;
  margin-bottom: 110px;
  padding-left: 15px;
  margin-left: 15px;
}


/* change default bar color for the GOI histograms */
.goi_histogram_container .histogram .total_histogram_container .bar {
    background-color: green;
    opacity: 0.6;
}

.overlay {
  .content {
    .spinner_container {
      text-align: center;
      .spinner {
        display: inline-block;
        margin-top: 100px;
      }
    }   
  }
}


/* BEGIN flash widgets stuff */

#flash_widgets_container {
  position: relative;
  height: 250px;
  width: 100%;
}

#plasmid_viewer_container {
  width: 50%; 
  height: 100%;
  float: left;
}

#sequence_viewer_container {
  width: 50%; 
  height: 100%;
  float: left;
}

/*
.flash_widget_hide {
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}
*

#hidden {
  display: none;
}

/* END flash widgets stuff */