/*
         *= require_self 
         *= require ConstraintSlider
         *= require part_diagram
         *= require eou_widget
         *= reqiure Overlay
*/  

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
  overflow: scroll auto;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:active {
  color: gray;
  text-decoration: underline;
}

a:visited {
  color: black;
  text-decoration: none;
}

@mixin noshadow {
  -moz-box-shadow: 0px 0px 0px #eeeeee inset;
  -webkit-box-shadow: 0px 0px 0px #eeeeee inset;
  box-shadow: 0px 0px 0px #eeeeee inset; }

@mixin intinyshadow {
  -moz-box-shadow: 0px 1px 1px #eeeeee inset;
  -webkit-box-shadow: 0px 1px 1px #eeeeee inset;
  box-shadow: 0px 1px 1px #eeeeee inset; }

@mixin smallshadow {
  -moz-box-shadow: 1px 1px 3px #dddddd;
  -webkit-box-shadow: 1px 1px 3px #dddddd;
  box-shadow: 1px 1px 3px #dddddd; }

@mixin medshadow {
  -moz-box-shadow: 1px 1px 7px #dddddd;
  -webkit-box-shadow: 1px 1px 7px #dddddd;
  box-shadow: 1px 1px 7px #dddddd; }

@mixin inshadow {
  -moz-box-shadow: 1px 1px 3px #dddddd inset;
  -webkit-box-shadow: 1px 1px 3px #dddddd inset;
  box-shadow: 1px 1px 3px #dddddd inset; }

@mixin border_a {
  border: 1px solid #aaaaaa; }

@mixin tinybox_border {
  @include border_a;
  border-radius: 3px;
  background: white;
  text-align: center;
  padding: 0 0.1em;
  line-height: 0.9em; }

@mixin smallbox_border {
  @include border_a;
  border-bottom-right-radius: 5px;
  background: white; }

@mixin medbox_border {
  @include border_a;
  border-bottom-right-radius: 8px;
  background: #fdfdf0; }

@mixin gauge_bar_border {
  @include inshadow;
  @include border_a;
  background: white; }

@mixin circle {
  @include inshadow;
  @include border_a;
  border-radius: 500px; }

@mixin smallfont {
  font-size: 12px;
  font-family: sans-serif; }

@mixin medfont {
  font-size: 14px;
  font-family: sans-serif; }



// GAUGE INDICATORS
$ov_color: #8eeb00;
$utr_color: #4e5a66;
$prm_color: #43ee9a;
$sd_blur: 5px;
$sd_opacity: 0.3;

.gauge_pointer {
  height: 100%;
  margin: {
    left: auto;
    right: auto; };
  vertical-align: baseline; }

.gauge_sd {
  opacity: $sd_opacity;
  height: 100%;
  width: 100%;
  position: absolute; }

@mixin ov_indicator {
  height: 100%;
  position: absolute;
  .gauge_pointer {
    background-color: $ov_color; }
  .gauge_sd {
    background-color: $ov_color;
    box-shadow: 0px 0px 5px $ov_color; } }

@mixin prm_indicator {
  @include ov_indicator;
  .gauge_pointer {
    background-color: $prm_color; }
  .gauge_sd {
    background-color: $prm_color;
    box-shadow: 0px 0px 5px $prm_color; } }

@mixin utr_indicator {
  @include ov_indicator;
  .gauge_pointer {
    background-color: $utr_color; }
  .gauge_sd {
    background-color: $utr_color;
    box-shadow: 0px 0px 5px $utr_color; } }



// PAGE LAYOUT
#container {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  overflow: auto;
  width: 980px;
  margin-left: auto;
  margin-right: auto; }

.list {
  position: relative;
  margin-top: 100px;
  margin-bottom: 121px;
  width: 640px;
  padding: 10px;
  z-index: 101;
}

.header {
  background-color: white;
  z-index: 3500;
  position: fixed;
  top: 0;
  height: 112px;
  width: 980px;
  left: auto;
  right: auto;
  border-bottom: dotted 1px;
}

.fixed {
  position: fixed;
  top: 113px;
  bottom: 121px;
  width: 980px;
  left: auto;
  right: auto;
  z-index: 100;

}


.right_panel {
  z-index: 100;
  position: absolute;
  top: 0;
  height: 100%;
  right: 0;
  width: 320px;
  border-left: 1px dotted black;
  border-right: 1px dotted black;
  overflow: auto;

  // shown by default
  .constraints_panel {
    display: block;

    .container {
      padding: 10px;
    }
    .menu_bar {
      position: relative;
      padding: 2px 5px;
      border-bottom: 1px dotted black;
      font-size: 15px;
      .menu_bar_label {
        display: inline-block;
      }
      .dropdown {
        float: right;
        display: inline-block;
      }
    }
  }

  // used for EOU details view
  .details_panel {
    background-color: #F7F8F0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;

    .container {
      h2 {
        font-weight: bold;
        font-size: 14px;
      }
      h3 {
        font-weight: bold;
        font-size: 12px;
      }
      font-size: 12px;
      padding: 10px;
    }

    .close_link {
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      width: 30px;
      .link {
        text-align: center;
        padding: 5px;
        text-decoration: none;
        border-left: 1px dotted #CCC;
        border-bottom: 1px dotted #CCC;
      }
    }

    .bottom_links {
      display: none;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 40px;
      .add_to_cart {
        float: right;
        padding-right: 8px;
        text-decoration: underline;
        border-left: 1px dotted black;
        border-top: 1px dotted black;
        padding: 8px
      }
    }
  }
}



.cart {
  position: fixed;
  bottom: 0;
  height: 120px;
  width: 980px;
  left: auto;
  right: auto;
  border-top: 1px dotted black;
  background-color: white;
  z-index: 50000;
}





// MINI WIDGETS

.mini_eou .gauge_bar {
  @include inshadow;
  @include border_a;
  position: relative;
  .gauge_bar_label {
    position: absolute;
    top: 0.2em;
    left: 0.5em;
    color: #666666; } }


.mini_eou .dotgauge {
  .step {
    float: left;
    width: 10%;
    top: 50%;
    .dot {
      @include circle;
      margin: auto;
      &.filled {
        background: #f5ce33;
        @include noshadow; } } } }

.mini_widget {
  @include smallbox_border;
  @include medshadow;
  width: 100px;
  padding: 5px;
  margin: 8px;
  position: relative;
  display: inline-block;
  .top {
    clear: both;
    display: inline-block;
    width: 100%;
    .mini_widget_label {
      @include smallfont;
      margin-bottom: 0px;
      float: left; } }
  .performance {
    height: 10px;
    clear: both;
    margin: 3px 0;
    .gauge_bar {
      height: 100%;
      .overall {
        @include ov_indicator;
        .gauge_pointer {
          width: 6px; } }
      .promoter {
        @include prm_indicator;
        .gauge_pointer {
          width: 3px; } }
      .utr {
        @include utr_indicator;
        .gauge_pointer {
          width: 3px; } } } }
  .reliability {
    height: 8px;
    .dotgauge {
      .dot {
        height: 7px;
        width: 7px; } } }
  .tinybox {
    @include tinybox_border;
    @include smallshadow;
    @include smallfont;
    padding: 2px;
    margin: 3px 0;
    float: left; } }


// MINI EOU WIDGET
.mini_eou {
  @extend .mini_widget; 
  background-color: white;
}

// MINI DIAGRAM WIDGET
.mini_diagram {
  @extend .mini_widget;
}



// DYNAMIC SLIDER
.dynamic_slider {
  position: absolute;
  top: 55px;
  left: 20px;
  .constraint_slider {
    width: 700px;

  }
}


.selected_bg {
 background-color: #FDFDF0;
}


// SPINNER for "loading more results" for EOU list

.boxed_spinner_container {
  position: relative;
  width: 100%;
  border-bottom-right-radius:5px;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 3px #eee;
  padding: 10px 0;
  margin-bottom: 8px;
  text-align: center;

  spinner {
    position: relative;
    display: inline-block
  }
}

.spinner_container {
  position: relative;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 8px;
  text-align: center;

  spinner {
    position: relative;
    display: inline-block
  }
}

// "no results / no more results" for EOU list
.widget_message {
  position: relative;
  width: 100%;
  border-bottom-right-radius:5px;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 3px #eee;
  padding: 10px 0;
  margin-bottom: 8px;
  text-align: center;
}

