
.eou_widget {
position: relative;
background-color: white;
border-bottom-right-radius:5px;    
border: 1px solid #aaa;
box-shadow: 2px 2px 3px #eee;
padding: 10px;
margin-bottom: 8px;
}

.eou_widget .diagrams {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.eou_widget .eou {
margin-bottom: 6px;
}

.eou_widget .eou .label{
font-size: 12px;
}

.eou_widget .performance {
width: 110%;
}

.eou_widget .bar {
width: 90%;
height: 10px;
position: relative;
top: 3px;
border: 1px solid #aaa;
border-radius: 0px;    
box-shadow: 1px 1px 3px #eee inset;
}

.eou_widget .performance .tic {
width: 9%;
height:10px;
margin-right: -2px;
border-left: solid 2px #bbb;
float: left;
}

.eou_widget .label {
font-size: 10px;
}

.eou_widget .performance .ruler .label {
position: relative;
background: white;
left: -10px;
bottom: -5px;
width: 50%;
}

.eou_widget .performance .ruler .label.first {
left: -5px;
}

.eou_widget .performance .ruler .label.last {
left: -20px;
}

.eou_widget .performance .promoter {
display: none;
height: 100%;
position: relative;
left: 20%;
width: 5%;
}

.eou_widget .performance .promoter .pointer  {
position: relative;
margin-left:auto;
margin-right:auto;
width: 6px;
height: 100%;
vertical-align: baseline;
background-color: #8EEB00;
opacity: 1.5;

}

.eou_widget .performance .fiveutr {
display: none;
height: 100%;
position: relative;
left: 60%;
width: 5%;
}

.eou_widget .performance .fiveutr .pointer  {
position: relative;
margin-left:auto;
margin-right:auto;
width: 6px;
height: 100%;
vertical-align: baseline;
background-color: black;
opacity: 1.5;

}

.eou_widget .performance .overall {
position: absolute;
height: 100%;
left: 60%;
width: 5%;
}

.eou_widget .performance .overall .pointer {
position: relative;
margin-left:auto;
margin-right:auto;
width: 6px;
height: 100%;
vertical-align: baseline;
background-color: #8EEB00;
opacity: 1.5;
}

.eou_widget .performance .overall .sd {
position: absolute;
background-color: #8EEB00;
box-shadow: 0px 0px 5px #8EEB00;
opacity: 0.3;
top: 0;
left: 0;
height: 100%;
width: 100%;
}

.eou_widget .reliability {
position: absolute;
top: 0px;
right: 0px;
width:200px
}

.eou_widget .reliability .label {
display: inline;
}

.eou_widget .reliability .tic {
width: 9%;
height: 20px;
float: left;
}

.eou_widget .reliability .dot {
border: 1px solid #aaa;
box-shadow: 1px 1px 3px #eee inset;
width: 10px;
height: 10px;
position: relative;
top: 3px;
border-radius: 400px;
margin-left: 0;
margin-right: auto;

}

/*EOU WIDGET OPEN*/

.eou_widget.open {
height: 160px
}