
@mixin smallfont {
  font-size: 12px;
  font-family: sans-serif; }


.eou_widget {
  position: relative;
  background-color: white;
  border-bottom-right-radius:5px;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 3px #eee;
  padding: 10px;
  margin-bottom: 8px;

  .top {
    margin-bottom: 6px;

    .label {
      display: block;
      float: left;
      font-size: 14px;
    }

    .reliability {    
      float: right;
      margin-bottom: 8px;
      .label {
        @include smallfont;
        float: left;
        margin-right: 0.5em; }
      .dotgauge {
        width: 140px;
        float: left;
        .dot {
          height: 10px;
          width: 10px;
        }
      }
    }
  }

  .performance {
    width: 100%;
    float: left;
    clear: both;
    font-size: 10px;

    .label {

    }

    .bar {
      width: 100%;
      height: 10px;
      position: relative;
      top: 3px;
      border: 1px solid #aaa;
      border-radius: 0px;    
      box-shadow: 1px 1px 3px #eee inset;
    }

    .ruler {
      .tic {
        width: 9%;
        height:10px;
        margin-right: -2px;
        border-left: solid 2px #bbb;
        float: left;
      }
    }
  }
}

.eou_widget .diagrams {
  display: block;
  position: relative;
  overflow: auto;
  float: left;
  clear: both;
  margin-top: 10px;
  width: 100%;
}

.eou_widget .inline_centerwrap_diagram {
  text-align: center;
}

.eou_widget .half_width {
  width: 49%;
  float: left;
}


.eou_widget .performance .overall {
position: absolute;
height: 100%;
left: 60%;
width: 5%;
}

.eou_widget .performance .overall .pointer {
position: relative;
margin-left:auto;
margin-right:auto;
width: 6px;
height: 100%;
vertical-align: baseline;
background-color: #8EEB00;
opacity: 1.5;
}

.eou_widget .performance .overall .sd {
position: absolute;
background-color: #8EEB00;
box-shadow: 0px 0px 5px #8EEB00;
opacity: 0.3;
top: 0;
left: 0;
height: 100%;
width: 100%;
}



/*EOU WIDGET OPEN*/

.eou_widget.open {
height: 138px
}

.promoter {
  .performance {
    background-color: #C7D8FF;
  }
}

.fpu {
  .performance {
    background-color: #FFD8C0;
  }
}








.eou_widget .performance .ruler .label {
position: relative;
background: white;
left: -10px;
bottom: -5px;
width: 50%;
}

.eou_widget .performance .ruler .label.first {
left: -5px;
}

.eou_widget .performance .ruler .label.last {
left: -20px;
}
