
.histogram {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: sans-serif;
    margin-bottom: 40%;
    margin-top: 20%;
}


.histogram .bar_label_container {
  position: absolute;
  top: 100%;
  height: 40%;
  width: 100%;
}

.histogram .bar_label_container .offset {
  position: absolute;
  top: 44px;
  left: -88px;

}

.histogram .bar_label_container .offset .bar_label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  letter-spacing: 1px;
  color: black;
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg);	
  text-align: right;
  width: 130px;

}



.histogram .histogram_container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.histogram .total_histogram_container {
    position: absolute;
    bottom: 0;
    left: 0;
}

.histogram .total_histogram_container .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;

    background-color: #1a82f7;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(orange), to(orange));
    background-image: -webkit-linear-gradient(top, orange, orange);
    background-image:    -moz-linear-gradient(top, orange, orange);
    background-image:     -ms-linear-gradient(top, orange, orange);
    background-image:      -o-linear-gradient(top, orange, orange);
    opacity: 0.6;
}

.histogram .total_histogram_container .bar .error_bar {
    position: absolute;
    top: 0;
    height: 0;
    left: 1px;
    right: 1px;
}


.histogram .total_histogram_container .bar .error_bar_top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
}

.histogram .total_histogram_container .bar .error_bar_line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: black;
}

.histogram .total_histogram_container .bar .error_bar_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
}


.horizontal_lines {
    position: absolute;
    width: 100%;
}

.horizontal_lines .line {
    position: absolute;
    bottom: 0;
    left: -4px;
    height: 1px;
    right: -4px;
    background-color: black;
	  opacity: 0.1;
}

