
.histogram {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: sans-serif;
    margin-bottom: 0;
    margin-top: 10px;
}


.histogram .bar_label_container {
  position: absolute;
  top: 100%;
  height: 40%;
  width: 100%;
}

.histogram .bar_label_container .offset {
  position: absolute;
  top: 44px;
  left: -97px; /* TODO should not be hard-coded as it varies with width of bar chart */

}

.histogram .bar_label_container .offset .bar_label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  letter-spacing: 1px;
  color: black;
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg);	
  text-align: right;
  width: 130px;

}



.histogram .histogram_container {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.histogram .total_histogram_container {
    position: absolute;
    bottom: 0;
    left: 0;
}

.histogram .total_histogram_container .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    background-color: orange;
    opacity: 0.6;
    cursor: pointer;
}

/* the default color of an active (usually clicked) bar 
    only applied if the onclick handler returns something that evaluates to true */
.histogram .total_histogram_container .active {
   background-color: green;
   opacity: 0.6;
}

/* the default color of a bar when hovering over it 
    only applied if the onmouseover handler returns something that evaluates to true */
.histogram .total_histogram_container .hover {
    opacity: 1.0;
}

.histogram .total_histogram_container .bar .error_bar {
    position: absolute;
    top: 0;
    height: 0;
    left: 1px;
    right: 1px;
}


.histogram .total_histogram_container .bar .error_bar_top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
}

.histogram .total_histogram_container .bar .error_bar_line {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: black;
}

.histogram .total_histogram_container .bar .error_bar_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: black;
}


.histogram .horizontal_lines {
    position: absolute;
    width: 100%;
}

.histogram .horizontal_lines .line {
    position: absolute;
    bottom: 0;
    left: -4px;
    height: 1px;
    right: -4px;
    background-color: #DDDDDD;
    overflow: visible;
}

.histogram .horizontal_lines .line .label {
    position: absolute;
    top: -5px;
    right: 100%;
    margin-right: 2px;
    height: 10px;
    font-size: 8px;
    color: black;
    opacity: 0.9;
}

.histogram .y_axis_label_container {
  position: absolute;
  top: 0;
  left: 100%;
  font-size: 8px;
  color: #333;
  -webkit-transform: rotate(90deg); 
  -moz-transform: rotate(90deg);	
  text-align: left;
  overflow: visible;
  width: 1px;
  margin-left: 10px;
}

.histogram .y_axis_label {
    position: relative;
    white-space: nowrap;
    left: -10px;
}