@mixin smallshadow {
  -moz-box-shadow: 1px 1px 3px #dddddd;
  -webkit-box-shadow: 1px 1px 3px #dddddd;
  box-shadow: 1px 1px 3px #dddddd; }

@mixin medshadow {
  -moz-box-shadow: 1px 1px 7px #dddddd;
  -webkit-box-shadow: 1px 1px 7px #dddddd;
  box-shadow: 1px 1px 7px #dddddd; }

@mixin border_a {
  border: 1px solid #aaaaaa; }

@mixin smallbox_border {
  @include border_a;
  border-radius: 3px;
  background: white; }

@mixin medbox_border {
  @include border_a;
  border-bottom-right-radius: 5px;
  background: white; }

@mixin smallfont {
  font-size: 11px;
  font-family: sans-serif; }

@mixin medfont {
  font-size: 13px;
  font-family: sans-serif; }

@mixin paren_border_left($orient) {
  border-#{$orient}: solid 2px #aaaaaa;
  border-left: solid 1px #aaaaaa;
  -webkit-border-#{$orient}-left-radius: 5px;
  -moz-border-radius-#{$orient}left: 5px;
  border-#{$orient}-left-radius: 5px;
}

@mixin paren_border_right($orient) {
  border-#{$orient}: solid 2px #aaaaaa;
  border-right: solid 1px #aaaaaa;
  -webkit-border-#{$orient}-right-radius: 5px;
  -moz-border-radius-#{$orient}right: 5px;
  border-#{$orient}-right-radius: 5px; 
}

@mixin paren_label {
  @include smallfont;
  background: none;
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto; }


.t, .c, .a, .g, .n {
  float: left;
  text-align: center;
  padding: 0 0.1em;
  line-height: 0.9em;
  @include smallfont; }

.t {
  background-color: #f6bbd8; }

.c {
  background-color: #ffd9c2; }

.a {
  background-color: #b4ecde; }

.g {
  background-color: #e4fbbf; }

.g {
  background-color: #ccc; }

.floatclear {
  clear: both; }

.diagram {
  @include medbox_border;
  @include medshadow;
  height: 54px;
  display: inline-block;
  position: relative;
  padding: 2px 6px;
  .performance {
    position: absolute;
    top: 0; 
    left: 0; 
    height: 100%;
    width: 0;
    background-color: #CCDDFF; 
    z-index:1;
    /* opacity: 0.3; */
  }
  .seq {
    position: relative;
    float:left;
    .label {
      position: absolute;
      width: 120%;
      margin-left: -10%;
      top: -19px;
      color: #888;
      font-size: 9px;
      text-align: center;
      overflow: visible;
      white-space: nowrap;
    }

    .box {
      @include smallbox_border;
      @include smallshadow;
      @include smallfont;
      padding: 2px;
      margin: 3px;
      float: left;
      margin-top: -7px;
      z-index: 3; }
  }
  .line {
    @include smallbox_border;
    @include smallshadow;
    height: 3px;
    position: relative;
    padding: 0px 5px;
    margin: 8px 0px;
    margin-top: 34px;
    display: inline-block;
    z-index: 2; }

  .bottomparen {
    display: inline-block;
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 4px;
    height: 8px;
    float: left;
    z-index: 50;
    .bottomparen_left {
      @include paren_border_left(bottom);
      height: 100%;
      width: 4px;
      float: left;
    }
    .parenlabel {
      @include paren_label;
      position: relative;
      bottom: -1px;
      float: left;
      padding-left: 1px;
      padding-right: 1px;
    }
    .bottomparen_right {
      @include paren_border_right(bottom);
      height: 100%;
      width: 4px;
      float: left;
    }
  }

  .widgetlabel {
    @include medfont;
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 10px;
    background: none;
    z-index: 100;
  }
}

.nolabel {
  height: 45px;
  .line {
    margin-top: 23px;
  }
}
